* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #0C0E38;
}

/******************************** Font Portfolio ************************/

@font-face {
    font-family: "Lexend-Bold";
    src: url(font/Lexend-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-ExtraBold";
    src: url(font/Lexend-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-Light";
    src: url(font/Lexend-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-Medium";
    src: url(font/Lexend-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-Regular";
    src: url(font/Lexend-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-SemiBold";
    src: url(font/Lexend-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-Thin";
    src: url(font/Lexend-Thin.ttf) format("truetype");
}

/************************* HEADER *********************************************/

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 3em;
    margin: auto;
    background-color: #0E6DA3;
    border-bottom: 1px solid #11f3e6;
    /* border: 2px solid rgb(245, 248, 33); */

}

.box-header {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    width: 800px;
    gap: 30px;
    padding: 2px;
    margin: 15px;
    /* border: solid 3px orangered; */
}

.box-header a {
    font-size: 20px;
    font-family: "Lexend-regular", Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B,
        0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B,
        0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B;
    text-decoration: none;
    color: #11f3e6;
    /* border: solid rgb(0, 255, 157) 2px; */
}

.logo-RL {
    padding: 15px;
    margin: 0;
    /* Position du Logo en dehors de la bar nav*/
    position: absolute;
    top: 15px;
    left: 150px;
    z-index: 1;
    /* border: 2px solid royalblue; */
}

.logo-RL > img {
    max-width: 160px;
    border-radius: 25%;
    border-bottom: 3px solid #11f3e6;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

/********************************** PAGE MENTION LEGAL ***************************************/

.container-bg-mention {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
    margin-top: 10em;
    padding: 3em;
    background: linear-gradient(180deg, #E33FE7 46.35%, #0E6DA3 65.1%);
    border-radius: 12px;
    border: 4px solid;
    border-color: linear-gradient(180deg, #0E6DA3 0%, #E33FE7 100%);
}

.container-mention {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 3em;
    padding: 3em;
    background: #6C0087;
    border: 4px solid #11F3E6;
    border-radius: 12px;
    height: 3633px;
}

.container-mention > .h2-container, .p-container {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #11F3E6;
    margin-left: 2.5em;
}

.container-mention > .h2-container {
    margin-bottom: 2em;
    margin-top: 3.5em;
}

.container-mention > .p-container {
    color: #11F3E6;
}


.container-mention .h3-container {
    font-size: 25px;
    margin-left: 2.5em;
    margin-top: 5em;
    margin-bottom: 1em;
    font-style: normal;
}

.container-mention .ol-container {
    margin-left: 4.5em;
    font-size: 20px;
}

.box-mention {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 3em;
    padding: 3em;
    background: #14DED2;
    border: 3px solid #E33FE7;
    border-radius: 12px;
}

.box-mention > .h2-box, .p-box {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-mention .h2-box {
    margin-bottom: 2em;
    color: #0E6DA3;
}

.box-mention .p-box {
    color: #0E6DA3;
}

.credit-mention {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 8em;
    width: 100%;

}

.p-credit a {
    color: #11F3E6;
}

/********************************** FOOTER ***********************************************************/

.container-footer {
    display: flex;
    flex-direction: row;
    padding: 3em;
    margin-top: 50px;
    background-color: #0E6DA3;
    border-top: 2px solid #11F3E6;
    /* border: 2px solid rgb(143, 0, 0); */
}

.container-social-link {
    display: flex;
    justify-content: end;
    position: relative;
    top: 100px;
}

.box-social-link {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 45%;
    height: 90px;
    gap: 10px;
    background-color: #E33FE7;
    border: 4px solid #11F3E6;
    border-top-left-radius: 72px;
    border-bottom-left-radius: 72px;
    border-right: none;

}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(180deg, #10FFF1 0%, #B302B7 100%);
    border: 1px solid #6C0087;
}

.social-link img {
    margin-top: 4.5px;
    width: 50px;
    height: 50px;
}

.box-social-link p {
    margin-left: 30px;
}

.box-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 45px;
    padding: 1em;
    gap: 5px;
    margin: auto;
    /* border: solid 2px magenta; */
}

.box-footer a, div {
    font-family: "Lexend-regular", Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: #11f3e6;
    text-decoration: none;
}