* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

body {
    background-image: url("images/5929727.jpg");
    z-index: 1;
    background-color: #0C0E38;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 270% 30%;
}

/******************************** Font Portfolio ************************/
@font-face {
    font-family: "Lexend-Bold";
    src: url(font/Lexend-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-ExtraBold";
    src: url(font/Lexend-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-Light";
    src: url(font/Lexend-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-Medium";
    src: url(font/Lexend-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-Regular";
    src: url(font/Lexend-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-SemiBold";
    src: url(font/Lexend-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Lexend-Thin";
    src: url(font/Lexend-Thin.ttf) format("truetype");
}

/**********************************************************************/

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    /* padding: 3em; */
    height: 15vh;
    margin: auto;
    background-color: #0E6DA3;
    border-bottom: 1px solid #11f3e6;
    /* border: 2px solid rgb(245, 248, 33); */

}

.nav-header {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 700px;
    gap: 10px;
    padding: 2px;
    margin: 15px;
}

.nav-header a {
    font-family: "Lexend-regular", Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B,
    0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B,
    0 0 3px #05667B, 0 0 3px #05667B, 0 0 3px #05667B;
    color: #11f3e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    width: 200px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-header a:hover {
    color: #FB44FF;
}

.logo-RL {
    padding: 15px;
    margin: 0;
    /* Position du Logo en dehors de la bar nav*/
    position: absolute;
    top: 15px;
    left: 150px;
    z-index: 1;
    /* border: 2px solid royalblue; */
}

.logo-RL > img {
    max-width: 160px;
    border-radius: 25%;
    border-bottom: 3px solid #11f3e6;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

/******************* MENU BURGER NAV BAR *******************************/

.container {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}
  
.navbar {
    display: none;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
  
.navbar .menu-items {
    display: flex;
}
  
.navbar .nav-container li {
    list-style: none;
}
  
.navbar .nav-container a {
    text-decoration: none;
    color: #E33FE7;
    text-shadow: 0 0 3px #6C0087, 0 0 3px #6C0087, 0 0 3px #6C0087, 0 0 3px #6C0087, 0 0 3px #6C0087, 0 0 3px #6C0087,
    0 0 3px #6C0087, 0 0 3px #6C0087;
    font-weight: 550;
    font-size: 1.4rem;
    padding: 0.7rem;
}
  
.navbar .nav-container a:hover {
      font-weight: bolder;
      color: #E33FE7;
}
  
.nav-container {
    display: block;
    position: relative;
    height: 80px;           /* modification de la hauteur du header burger */
    background-color: #0E6DA3;
    border-bottom: 1px solid #11f3e6;
}
  
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
  
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 28px;                  /* modification de la position 'croix menu burger' dans le header */
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.nav-container .hamburger-lines .line {
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background: #E33FE7; /* ancienne couleur: #0e2431 */
    border: 1px solid #0e2431;
}
  
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
  
.navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(12, 41, 121, 1);  /* à modifier la couleur */
    height: 100vh;
    width: 55%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    /* padding-left: 50px; */
    transition: transform 0.5s ease-in-out;
    text-align: center;
}
  
.navbar .menu-items li {
    margin-bottom: 2.5rem;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .menu-items li:hover {
    background: linear-gradient(180deg, #10FFF1 0%, #0C0E38 100%);
    opacity: 0.7;
}

.navbar .menu-items li a {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 1;
}

.navbar .menu-items li a:hover {
    color: #10FFF1;
    font-size: 2rem;
}
  
.logo-RL-burger {
    position: absolute;
    top: 5px;
    right: 15px;
}

.logo-RL-nav {
    display: none;
}

.logo-RL-nav > img {
    max-width: 120px;
    border-radius: 25%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 2px solid;
    border-bottom: 2px solid #11f3e6;
    /* box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25); */
}

.box-social-link-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin: 0;
    bottom: 20vh;
    width: 100%;
    height: 70px;
    gap: 3em;
    background-color: #E33FE7;
    border-color: #11F3E6;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 1px;
}

.social-link-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(180deg, #10FFF1 0%, #B302B7 100%);
    border: 1px solid #6C0087;
}

.social-link-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    width: 100%;
    height: auto;
}

.social-link-nav img {
    width: 35px;
    height: 35px;
}
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
  
.nav-container input[type="checkbox"]:checked ~ .logo-RL-burger {
    display: fixed;          /* Disparition ou apparition du Logo à l'ouverture du menu */
}

/*************************************** ACCUEIL ***************************************/

.container-accueil {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    position: relative;
}

.img-box-bg {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 1080px;
}

.background-accueil img {
    /* max-width: 1400px; */
    width: 100%;
    height: auto;
    object-fit: fill;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);     /*Ne fonctionne pas car l'ombre et derrière l'image (à corrigé)*/
}

.titre-milieu {
    position: absolute;
    text-align: left;
    max-width: 1024px;
    /* width: 100%; */
    color: #11f3e6;
    text-shadow: 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B,
    0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B,
    0 0 5px #05667B, 0 0 5px #05667B, 0 0 5px #05667B;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre-milieu > h1 {
    font-size: 5em;
}

.rectangle-child-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    border-top: 2px solid #11f3e6;
    border-bottom: 2px solid #11f3e6;
    background-color: #0E6DA3;
}

/************************************* SECTION VIDEO **********************************************************************/

.section-quote {
    overflow: hidden;
    height: 110vh;
    width: 100%;
    position: relative;
}

.section-quote video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.section-quote .container-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.content-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: absolute;
    margin-top: 25px;
    margin-right: 25px;
    left: 25px;
    /* transform: translateX(-50%); */
    bottom: 25px;
}

#btnVideo {
    font-family: "Lexend-regular", 'Impact', 'Arial Narrow Bold', 'sans-serif';
    background: 0;
    border: 0;
    font-size: 2em;
    color: #11F3E6;
    z-index: 9999;
}

/******************************* CITATION *************************************/
.marge-bar1 {
    display: flex;
    justify-content: center;
    padding: auto;
    z-index: 1;
}

.barre-horizontale1 {
    margin-bottom: 4em;
    padding: 6px;
    width: 250px;
    border-radius: 25px;
    background-color: #11f3e6;
    border: #0E6DA3 solid 2px;

}

.marge-bar2 {
    display: flex;
    justify-content: center;
    padding: auto;
    z-index: 1;
}

.barre-horizontale2 {
    margin-top: 4em;
    width: 250px;
    padding: 6px;
    border-radius: 25px;
    border: #6C0087 solid 2px;
    background-color: #E33FE7;
}

.blockquote-box {
    /* margin: 0 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 70vw;
    height: 100vh;
    /* position: absolute; */

}

figure {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 4em;
    border-radius: 74px;
    background: linear-gradient(180deg, #15185F 0%, #0E6DA3 100%), rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 7px 12px rgba(0, 0, 0, 0.25);
    border: 2px solid #E33FE7;
    color: #11f3e6;
    width: 100%;
    opacity: 0.9;
    /* height: 60%; */
}

blockquote {
    font-family: "Lexend-regular", Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: auto;
    padding: 1em;
    text-shadow: 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3,
        0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3,
        0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3, 0 0 4px #0E6DA3;
    opacity: 1;
    /* border: 2px solid blue; */
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    font-size: 20px;
    margin-top: 1em;
    padding-left: 35%;
    width: 100%;
    opacity: 1;
    /* border: #0E6DA3 2px solid; */
}

cite {
    width: 100%;
    opacity: 1;
}

figcaption a {
    font-family: "Lexend-bold", Impact, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: #11f3e6;
    opacity: 1;
}

figcaption a:hover {
    color: #FB44FF;
}

/*********************************** A PROPOS ****************************************/

.big-container-apropos {
    display: flex;
    flex-direction: column;
    background-color: #6C0087;
    position: relative;
}

.container-apropos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
    height: 70vh;
    background-color: #6C0087;
    border-top: 2px solid #FB44FF;
    scroll-behavior: smooth;

}

.col-apropos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box-apropos {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50px;
    background: #B302B7;
    border: 2px solid #11F3E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    width: 400px;
    height: 50px;
    /* margin-top: 2em; */
}

.box-apropos > h2 {
    padding-top: 7px;
    font-size: 25px;
}

.p-apropos {
    max-width: 900px;
    width: 100%;
    padding-right: 5em;
}

.p-apropos p {
    padding: 2em;
    margin: 1em;
    font-size: 20px;
    text-align: left;
    border: solid #E33FE7;
    border-width: 24px 1px 24px 1px;
    border-radius: 10px;
    background-color: #0e2431
}

/************************ PHOTO APROPOS ******************************/

.box-profil-pic {
    padding: 0.2em;
    /* margin-right: 15em; */
    background:  #E33FE7;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.box-profil-pic:hover {
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-color: #10FFF1;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.container-pro-pic {        
    display: flex;
    align-items: center;
}

.box-profil-pic > img {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 320px;
    /* border: 2px solid grey; */
    border-radius: 50%;
}

/*********************** SECTION DIV SUITE APROPOS ******************************/

.bande-apropos {
    background-color: #11F3E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.box-rectangle-droit {
    display: flex;
    justify-content: end;
}

.triangle-droit{
    display : inline-block;
    height : 0;
    width : 0;
    /* border: 1px solid #E33FE7; */
    border-bottom : 35px solid #E33FE7;
    border-left : 90px solid transparent;
   }

.rectangle-droit {
    height: 35px;
    width: 25%;
    background-color: #E33FE7;
}

.box-ligne-gauche {
    display: inline-block;
    position: absolute;
    background-color: #3900AB;
    width: 65vw;
    left: 0;
    top: 31px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /* bottom: 3px ; */
}

.bordure-gauche {
    width: 100%;
    height: 1px;
    border: #3900AB 4px solid;
    background-color: #3900AB;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.box-bande-apropos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em 18em 2em;
    background-color: #E33FE7;
}

.img-manette {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #11F3E6;
    border: 3px solid #3900AB;
    padding: 5%;
}

.img-manette img {
    width: 200px;
    height: 160px;
}

.img-manette img:hover {
    width: 200px;
    height: 160px;
    filter: drop-shadow(0px 6px 6px black);
    animation: tilt-n-move-shaking 0.15s infinite;
    /* transform: rotate(-16.66deg); */
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.p-bande-apropos {
    padding: 0 2em 0 ;
    font-size: 20px;
    color: #3900AB;
}

.box-CV {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #3900AB;
    padding: 1em;
    /* width: 350px; */
}

.box-CV h3 {
    padding-bottom: 5%;
}

.btn-lien-CV {
    background-color: #11F3E6;
    /* max-width: 300px; */
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-lien-CV a {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-lien-CV:hover {
    /* background: linear-gradient(180deg, #11F3E6 0%, #E33FE7 100%); */
    filter: drop-shadow(0px 3px 3px black);
}

.btn-lien-CV a:hover {
    color: #E83AEC;
    font-weight: 650;
    font-size: 17px;
}

.box-ligne-droite {
    display: inline-block;
    position: absolute;
    background-color: #3900AB;
    width: 65vw;
    right: 0;
    bottom: 31px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.bordure-droite {
    width: 100%;
    height: 1px;
    border: #3900AB 4px solid;
    background-color: #3900AB;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.box-rectangle-gauche {
    display: flex;
    justify-content:start;
}

.rectangle-gauche {
    height: 35px;
    width: 25%;
    background-color: #E33FE7;
    /* border: 2px solid #15185F; */
}

.triangle-gauche{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 35px solid #E33FE7;
    border-right : 90px solid transparent;
}

/************************************************* MON PARCOURS ***********************************************/

.super-container-portfolio {
    padding-top: 5%;
    padding-bottom: 10%;
    background: linear-gradient(180deg, #6C0087 0%, #E33FE7 49%, #E33FE7 65%, #11F3E6 100%);
}

.box-parcours {
    display: flex;
    justify-content: end;
    padding-top: 10%;
}

.titre-parcours {
    display: flex;
    align-items: flex-start;
    width: 25%;
    border: 2px solid #E33FE7;
    background-color: #11f3e6;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titre-parcours h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    width: 250px;
    text-shadow: 0 0 2px #6C0087, 0 0 2px #6C0087,0 0 2px #6C0087, 0 0 2px #6C0087, 0 0 2px #6C0087, 0 0 2px #6C0087, 0 0 2px #6C0087,
                0 0 2px #6C0087, 0 0 2px #6C0087;
    color: #E33FE7;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    grid-auto-rows: auto;
    /* border: 2px solid magenta; */
}

.container-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 5em;
    margin: 4em;
    border-radius: 44px;
    background: linear-gradient(180deg, #11F3E6 0%, #E33FE7 100%);
    border-color: #E33FE7;
    border-style: solid;
    border-width: 5px 2px 0px 2px;
    color: #6C0087;
}

.triangle-grid {
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 25px solid transparent;
    border-bottom : 43px solid #6C0087;
    border-left : 25px solid transparent;
}

/****************************** colonne ligne 1 ****************************/

.col-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: green 2px solid; */
    position: relative;
    grid-row: 1;
}

.cursus-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 70%;
    top: 38%;
    left: 25%;
    font-size: 20px;
    color: #6C0087;
}

.ligne-horizontal-1 {
    display: inline-block;
    border-top: #6C0087 solid 3px;
    width: 250px;
    top: 55%;
    right: 0;
    position: absolute;

}

.col-2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 85px; */
    /* border: red solid 2px; */
    position: relative;
    grid-row: 1;
}

.ligne-vertical-1 {
    display: inline-block;
    border-left: #6C0087 solid 6px;
    height: 100%;
    position: absolute;
    bottom: -10px;
}

.cercle-grid-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #6C0087;
    margin-top: 100px;
    margin-bottom: 100px;
    z-index: 1;

}

.cercle-grid-1 .img-ifr {
    border-radius: 50%;
}

.col-3-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 45%;
    grid-row: 1;
}

.txt-1 {
    font-size: 20px;
    color: #6C0087;
}

/***************************** Colonne ligne 2 *****************************/

.col-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-right: 5%;
    padding-left: 36%;
    margin-bottom: 15%;
    grid-row: 2;
}

.txt-2 {
    font-size: 20px;
    color: #6C0087;
}

.col-2-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: red solid 2px; */
    position: relative;
    grid-row: 2;
}

.ligne-vertical-2 {
    display: inline-block;
    border-left: #6C0087 solid 6px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.cercle-grid-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #6C0087;
    margin-bottom: 100px;
    z-index: 1;

}

.inside-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.cercle-grid-2 .img-gamecodeur {
    width: 180px;
    height: 80px;
}

.col-3-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: green 2px solid; */
    position: relative;
    grid-row: 2;
}

.cursus-2 {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    position: absolute;
    width: 70%;
    top: 0;
    right: 10%;
    font-size: 20px;
    color: #6C0087;
}

.ligne-horizontal-2 {
    display: inline-block;
    border-top: #6C0087 solid 3px;
    width: 250px;
    top: 37%;
    left: 0;
    position: absolute;

}

/***************************** Colonne ligne 3 *****************************/

.col-1-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: green 2px solid; */
    position: relative;
    grid-row: 3;
}

.cursus-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 70%;
    top: 0;
    left: 25%;

    font-size: 20px;
    color: #6C0087;
}

.ligne-horizontal-3 {
    display: inline-block;
    border-top: #6C0087 solid 3px;
    width: 250px;
    top: 37%;
    right: 0;
    position: absolute;

}

.col-2-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: red solid 2px; */
    position: relative;
    grid-row: 3;
}

.ligne-vertical-3 {
    display: inline-block;
    border-left: #6C0087 solid 6px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.cercle-grid-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #6C0087;
    margin-bottom: 100px;
    z-index: 1;

}

.cercle-grid-3 .img-afpar {
    width: 180px;
    height: 180px;
}

.col-3-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 40%;
    margin-bottom: 15%;
    grid-row: 3;
}

.txt-3 {
    font-size: 20px;
    color: #6C0087;
}

/***************************** Colonne ligne 4 *****************************/

.col-1-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-right: 5%;
    padding-left: 36%;
    margin-bottom: 15%;
    grid-row: 4;
}

.txt-4 {
    font-size: 20px;
    color: #6C0087;
}

.col-2-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: red solid 2px; */
    position: relative;
    grid-row: 4;
}

.ligne-vertical-4 {
    display: inline-block;
    border-left: #6C0087 solid 6px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.cercle-grid-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #6C0087;
    margin-bottom: 100px;
    z-index: 1;

}

.inside-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.cercle-grid-4 .img-cfa {
    width: 130px;
    height: 140px;
}

.col-3-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: green 2px solid; */
    position: relative;
    grid-row: 4;
}

.cursus-4 {
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    position: absolute;
    width: 70%;
    top: 12%;
    right: 10%;
    font-size: 20px;
    color: #6C0087;
}

.ligne-horizontal-4 {
    display: inline-block;
    border-top: #6C0087 solid 3px;
    width: 250px;
    top: 37%;
    left: 0;
    position: absolute;

}

/***************************** Colonne ligne 5 *****************************/

.col-1-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: green 2px solid; */
    position: relative;
    grid-row: 5;
}

.cursus-5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 70%;
    top: 9%;
    left: 25%;
    font-size: 20px;
    color: #6C0087;
}

.ligne-horizontal-5 {
    display: inline-block;
    border-top: #6C0087 solid 3px;
    width: 250px;
    top: 32%;
    right: 0;
    position: absolute;

}

.col-2-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: red solid 2px; */
    position: relative;
    grid-row: 5;
}

.ligne-vertical-5 {
    display: inline-block;
    border-left: #6C0087 solid 6px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.cercle-grid-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #6C0087;
    margin-bottom: 100px;
    z-index: 1;

}

.cercle-grid-5 .img-lycee-hotelier {
    width: 180px;
    height: 65px;
}

.col-3-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 40%;
    margin-bottom: 20%;
    grid-row: 5;
}

.txt-5 {
    font-size: 20px;
    color: #6C0087;
}

/*********************** COMPETENCE *********************************/

.container-competence {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25em 5em 15em;
    /* border: 2px solid salmon; */
}

.container-competence h1 {
    font-family: "Lexend-regular", Impact, 'Arial Narrow Bold', sans-serif;
    padding: 20px 80px;
    margin-bottom: 2em;
    border-radius: 30px;
    background-color: #6C0087;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0 0 2px #15185F, 0 0 2px #15185F, 0 0 2px #15185F, 0 0 2px #15185F, 0 0 2px #15185F, 0 0 2px #15185F,
    0 0 2px #15185F, 0 0 2px #15185F, 0 0 2px #15185F, 0 0 2px #15185F;
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-circular {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 320px;
   padding: 25px 0;
   border-radius: 8px;
   row-gap: 30px;
   background-color: none;
}

.circular-progress-1 > img,
.circular-progress-2 > img {
    height: 115px;
    width: 115px;
}

.circular-bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: linear-gradient(180deg, #6C0087 0%, #E83AEC 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.circular-progress-1, .circular-progress-2, .circular-progress-3,
.circular-progress-4, .circular-progress-5 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: conic-gradient(#11F3E6 3.6deg, #f0f0 0deg);
}

.progress-value-1, .progress-value-2 {
    position: relative;
}

span {
    color: #11F3E6;
    font-size: 30px;
    font-family: "Lexend-regular", Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 2px #6C0087, 0 0 2px #6C0087, 0 0 2px #6C0087,0 0 2px #6C0087,0 0 2px #6C0087,0 0 2px #6C0087,0 0 2px #6C0087;

}

/************************* PORTFOLIO *******************************/

.big-container-portfolio {
    margin: 2em;
    padding-top: 8%;
    display: flex;
    justify-content: center;
}

.container-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1690px;
    width: 100%;
    margin: 2em;
    padding: 1em;
    /* border: 2px solid #B302B7; */
}

.box-titre-portfolio {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bloc-vide {
    background-color: none;
    border-bottom: #E33FE7 solid 3px;
    width: 100%;
}

.titre-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.8em 60px;
    background-color: #05667B;
    position: relative;
    border-top: 3px solid #E33FE7;
    border-left: 3px solid #E33FE7;
    border-right: 3px solid #E33FE7;
}

.titre-portfolio h1 {
    position: relative;
    text-align: center;
    height: 40px;
    width: 220px;
    font-size: 1.6em;
    text-shadow: 0 0 3px #0E6DA3, 0 0 3px #0E6DA3, 0 0 3px #0E6DA3, 0 0 3px #0E6DA3, 0 0 3px #0E6DA3, 0 0 3px #0E6DA3, 0 0 3px #0E6DA3,
    0 0 3px #0E6DA3, 0 0 3px #0E6DA3, 0 0 3px #0E6DA3,0 0 3px #0E6DA3, 0 0 3px #0E6DA3, 0 0 3px #0E6DA3;
}

.ligne-h1 {
    position: absolute;
    width: 65%;
    height: 3px;
    bottom: 10px;
    left: 60px;
    background-color: #E33FE7;
}

.container-swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 45px;
    width: 100%;
    max-width: 1680px;
    border: #E33FE7 solid 3px;
    border-top: none;
    background-color: #05667B;
}

.slide-content {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    /* border: solid 2px rgb(81, 0, 255); */
}

.swiper {
    /* background-color: #E33FE7; */
    overflow: hidden;
    border-radius: 25px;
    padding: 0 40px;
}

.swiper-wrapper {
    /* border: solid 2px black; */
    z-index: 999;
}

/* ici on agrandie les cartes + la hauteurs du wrapper */
.swiper .card {    
    width: 100%;
    max-width: 520px;
    /* height: 45vh; */
    text-align: center;
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: #fff;
    border-top: #E33FE7 solid 4px;
    border-right: #E33FE7 solid 4px;
    border-bottom: #E33FE7 solid 2px;
}

.swiper .image-content,
.swiper .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.swiper .image-content {
    display: flex;
    justify-content: center;
    position: relative;
    row-gap: 5px;
    padding: 25px 0px;
}

.swiper .thumbnail {
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.swiper .thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #E33FE7;
}

.swiper .chocolat-image {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    height: 100%;
}

.chocolat-overlay {
    background: linear-gradient(180deg, #333 25%, #0E6DA3 50%, #E33FE7  100%);
    /* opacity: 0.5 !important; */
}

.chocolat-wrapper .chocolat-fullscreen {
    width: 30px !important;
    background: var(--chocolat-icon-fullscreen) 50% 50% / 2rem auto no-repeat !important;
}

.chocolat-description, .chocolat-pagination {
    font-size: 1.5em;
}

.swiper .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #E33FE7 0%, #11F3E6 100%);
    border-radius: 20px 20px 0 20px;
    border-bottom: #E33FE7 solid 2px;
}

.line-overlay {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 2px;
    width: 19px;
    background-color: #11F3E6;
}

.swiper .line-overlay::before,
.swiper .line-overlay::after {
    content: '';
    position: absolute;
    display : inline-block;
    right: 15px;
    bottom: 0;
    height : 0;
    width : 0;
    border-right : 4.5px solid transparent;
    border-bottom : 2px solid #E33FE7;
}

.swiper .overlay::before,
.swiper .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -42px;
    height: 40px;
    width: 40px;
    background-color: #11F3E6;
    border-top: #E33FE7 solid 2px;
}

.swiper .overlay::after {
    border-radius: 0 25px 0 0;
    /* border-top: #E33FE7 solid 2px; */
    background-color: #fff;
}

.swiper .card .title-container {
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    padding: 8px;
    margin: 1em 0 0;
    color: #0077b6;
}

/* .swiper .card .title-container h3 {
    margin: 0;
    font-size: 20px;
} */

.swiper .card .description {
    min-height: 130px;
    height: 100%;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    padding: 8px;
}

.swiper .button {
    border: none;
    font-size: 16px;
    color: #fff;
    /* padding: 8px 16px; */
    height: 35px;
    width: 10vw;
    max-width: 110px;
    background-color: #E33FE7;
    border-radius: 6px;
    margin: 14px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.swiper .button:hover {
    background: linear-gradient(180deg, #E33FE7 0%, #11F3E6 100%);
    cursor: pointer;
}

.swiper-navBtn {
    position: absolute;
    color: #6E93F7;
    transition: color 0.3s ease;
    /* background-color: #fff;
    padding: 1.5em;
    box-shadow: 0 15px 40px -3px rgba(0, 0, 0, 0.3); */
}

.swiper-navBtn:hover {
    color:#8540f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: rgb(205, 221, 255) !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #E33FE7 !important;
}

/*************************************************************************/
.svg-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************** CONTACT ***********************************/

.container-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em;
}

.titre-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trait-horizontale {
    width: 430px;
    margin-top: 8px;
    border: #E33FE7 1px solid;

}

.grid-contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    row-gap: 6em;
}

.triangle-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.triangle-contact-1 {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 87px solid #0E6DA3;
    border-right : 50px solid transparent;
    border-left : 50px solid transparent;
}

.triangle-contact-1-1 {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 61px solid #11f3e6;
    border-right : 35px solid transparent;
    border-left : 35px solid transparent;
    padding-top: 10px;
    position: absolute;
}

.triangle-contact-2 {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 87px solid #0E6DA3;
    border-right : 50px solid transparent;
    border-left : 50px solid transparent;
}

.triangle-contact-2-2 {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 61px solid #11f3e6;
    border-right : 35px solid transparent;
    border-left : 35px solid transparent;
    padding-top: 10px;
    position: absolute;
}

.box-lign {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px rebeccapurple; */
    grid-row: 2 / 5;
}

.trait-vertical-1 {
    grid-column: 1;
    grid-row: 2 / 5;
    display: inline-block;
    border-left: #E33FE7 solid 3px;
    height: 100%;
    bottom: 0;

}

.trait-vertical-2 {
    grid-column: 3;
    grid-row: 2 / 5;
    border-left: #E33FE7 solid 3px;
    height: 100%;
    bottom: 0;
}

.email {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phone {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formulaire {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phone p,
.email a,
.formulaire p {
    margin-top: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #11F3E6;
}

.cercle-ct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: linear-gradient(180deg, #E33FE7 0%, #11F3E6 100%);
    border: 10px solid #6C0087;
}

.logo-form {
    padding-left: 30px;
}

/************************* FORMULAIRE CONTACT **********************/

* .container-formulaire {
    font-family: "Lexend-regular", "sans-serif";
    margin: 5em;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.box-formulaire {
    max-width: 900px;
    border-radius: 15px;
    padding: 0 50px 0 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #6C0087;
    border: solid 3px #11F3E6;
}

.box-formulaire > h1 {
    font-weight: 500px;
    color: #11F3E6;
}

.box-formulaire > p {
    font-weight: 300px;
    color: #11F3E6;
}

.box-nom-prenom {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 150px;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
}

form div > label {
    margin-bottom: 7px;
    font-weight: 600;
}

form div > input,
form div > textarea {
    background: #8FD7FF;
    resize: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

form div > input {
    height: 50px;
    padding-left: 10px;
}

form div > textarea {
    height: 195px;
    padding: 15px 0px 0px 10px;
}

form div > input::placeholder,
form div > textarea::placeholder {
    color: #636363;
}

/* form div > select:invalid {
    color: #333;
} */

.box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

form button {
    width: 450px;
    max-width: 500px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: #8FD7FF;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #303030;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

form button:hover {
    font-size: 29px;
    background: #10FFF1;
}

/******************************** FOOTER ****************************************************/

.container-footer {
    display: flex;
    flex-direction: row;
    padding: 3em;
    margin-top: 50px;
    background-color: #0E6DA3;
    border-top: 2px solid #11F3E6;
    /* border: 2px solid rgb(143, 0, 0); */
}

.container-social-link {
    display: flex;
    justify-content: end;
    position: relative;
    top: 100px;
}

.box-social-link {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 45%;
    height: 90px;
    gap: 10px;
    background-color: #E33FE7;
    border: 4px solid #11F3E6;
    border-top-left-radius: 72px;
    border-bottom-left-radius: 72px;
    border-right: none;

}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(180deg, #10FFF1 0%, #B302B7 100%);
    border: 1px solid #6C0087;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.social-link:hover {
    background: linear-gradient(180deg,#FB44FF 0%, #10FFF1 50%, #B302B7 100%);
    border-width: 2px;
    border-style: solid;
    border-color: #10FFF1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

.social-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    width: 100%;
    height: auto;
}

.social-link img {
    /* margin-top: 4.5px; */
    width: 50px;
    height: 50px;
}

.box-social-link p {
    margin-left: 30px;
}

.box-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 45px;
    padding: 1em;
    gap: 5px;
    margin: auto;
    /* border: solid 2px magenta; */
}

.box-footer a, div {
    font-family: "Lexend-regular", Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: #11f3e6;
    text-decoration: none;
}

.box-footer a:hover {
    color: #E33FE7;
}